@font-face {
    font-family: 'space-age';
    src: url('../../../../assets/space\ age.ttf')
}
  
.spaceText {
    font-family: 'space-age';
}

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-light-blue text-white;
  }
  .btn-blue:hover {
    @apply bg-light-blue;
  }