.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
    position: absolute;
}

.popup-content {
    margin: auto;
    width: 50%;
    background: transparent !important;
    border: none !important;
}

.answer1 {
    color: black;
    font-weight: 400 !important;
}

.tileButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    article {
        width: 100% !important;
    }
    .tileButton {
        font-size: 0.75rem !important;
    }
    p {
        font-size: 0.75rem !important;
    }
}