@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root, body {
  max-height: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/Game_BG.png'); /* Default for old browsers */
  background-image: -webkit-linear-gradient(to top, hsla(0, 0%, 94%, 0.987), hsla(0, 0%, 93%, 0.987)), url(./images/Game_BG.png);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, hsla(0, 0%, 90%, 0.8), hsla(0, 0%, 90%, 0.8)),
              url('./images/Game_BG.png') no-repeat fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: visible;
}

@media screen and (max-width: 850px) {
  :root, body {
    width: 100%;
    height: 100%;
  }

  #footerText {
    font-size: 0.65rem !important;
  }
}

